{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="my-5">About</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi esse quia ab veniam nisi veritatis voluptatem maiores facilis natus quisquam neque quo officiis, aspernatur sed, adipisci id harum a! In consequuntur hic nam alias error rem, illum aperiam perferendis sequi accusamus, expedita doloremque inventore mollitia.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis labore ipsum nisi consequuntur cumque quas repudiandae maiores vitae, facere eius?</p>
</div>

{% endblock content %}